#explorer,
#explorer * {
    transition: color .2s;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#explorer {
    width: 0px;
    height: calc(100vh
            /*- 40px */
            - var(--info-height));
    min-width: 15px;
    max-width: 90%;
    padding: 10px;
    background: #222;
    position: relative;
    box-sizing: border-box;
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #242424;
    /*#333;*/
}

.resizer::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 6px;
    height: 10px;
    background: #999;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.resizer.active {
    background: #282828;
    /*#393939;*/
}

.resizer.active::after {
    background: #ddd;
}

#explorer-list {
    width: 100%;
    height: 100%;
    padding: 4px;
    list-style: none;
    overflow-y: scroll;
    white-space: nowrap;
}

.folder {
    overflow: hidden;
    /* background: linear-gradient(to right, red, blue); */
}

.folder>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 6px;
}

.folder>div>.name {
    color: #aaa;
}

.folder:not(.fold)>div>.name {
    color: #fff;
}

.folder.fold {
    color: #ddd;
}

.folder>div>.name {
    flex: 1;
    font-weight: bold;
}

.folder>div>.name::before {
    content: '📂 ';
}

.folder.fold>div>.name::before {
    content: '📁 ';
}

.folder>div>.name::after {
    content: '/';
}

.folder.fold>div>button {
    display: none;
}

.folder>div>button {
    background: transparent;
    color: #ffffff;
    padding-inline: 5px;
    margin-inline: 8px;
    font-size: 1rem;
    float: right;
}

.folder>div>button:active {
    background: #2f2f2f;
}

.folder>.children {
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #444;
    list-style: none;
}

.folder.fold>.children {
    display: none;
}

.editable-file {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #2a2a2a;
}

.file {
    padding-block: 6px;
}

.file .name {
    display: block;
    color: #aaa;
    font-weight: normal;
}

.editable-file .name {
    flex: 1;
    padding: 2px;
    color: #ccc;
    font-size: 1rem;
    background: transparent;
}

.file .name::before,
.editable-file .icon::before {
    content: '📄 ';
}

.file.md .name::before,
.editable-file .icon.md::before {
    content: '📰 ';
}

.file.js .name::before,
.editable-file .icon.js::before {
    content: '📜 ';
}

.file.png .name::before,
.file.jpg .name::before,
.file.jpeg .name::before,
.editable-file .icon.png::before,
.editable-file .icon.jpg::before,
.editable-file .icon.jpeg::before {
    content: '️🖼️ ';
}

.file.txt .name::before,
.editable-file .icon.txt::before {
    content: '📝 ';
}

.file.cfg .name::before,
.editable-file .icon.cfg::before {
    content: '⚙️ ';
}

.file.scn .name::before,
.editable-file .icon.scn::before {
    content: '🎬 ';
}

.file.obj .name::before,
.editable-file .icon.obj::before {
    content: '📦 ';
}

.file.font .name::before,
.editable-file .icon.font::before {
    content: '✏️ ';
}

.file.ttf .name::before,
.file.otf .name::before,
.editable-file .icon.ttf::before,
.editable-file .icon.otf::before {
    content: '✒️ ';
}

.editable-file .directory::before {
    content: '📂 ';
}
