<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.square.template"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="26" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Square Template">
		
        <activity
            android:name="com.raffa064.engine.MainActivity"
            android:label="Square Template"
			android:icon="@drawable/ic_launcher"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
	
	<meta-data
		android:name="android.max_aspect"
		android:value="4.0"/>

</manifest>
