.cm-s-js64.CodeMirror {
    background-color: #222;
    color: #EEEEEE;
}

.cm-s-js64.CodeMirror::after {
	content: '';
	width: max(70vw, 70vh);
	height: max(70vw, 70vh);
	position: fixed;
	top: 80%;
	left: 70%;
	transform: translate(-50%, -50%);
	background: url(./logo.png);
	background-size: cover;
	opacity: 0.16;
	z-index: -1;
}

.cm-s-js64 .CodeMirror-gutters {
    background: #242424; /*#2b2b2b;*/
    border: none;
}

.cm-s-js64 .CodeMirror-linenumber {
    color: #888;
    font-style: bold;
}

.cm-s-js64 .CodeMirror-activeline-background {
  background: #2d2d2d;
}

.cm-s-js64 .CodeMirror-line::selection,
.cm-s-js64 .CodeMirror-line>span::selection,
.cm-s-js64 .CodeMirror-line>span>span::selection {
    background: #0f03;
}

.cm-s-js64 .CodeMirror-line::-moz-selection,
.cm-s-js64 .CodeMirror-line>span::-moz-selection,
.cm-s-js64 .CodeMirror-line>span>span::-moz-selection {
    background: #0f03;
}

.cm-s-js64 .cm-keyword {
    color: #a8f;
}

.cm-s-js64 .cm-operator {
    color: #0af;
}

.cm-s-js64 .cm-operator-2 {
    color: #f60;
}

.cm-s-js64 .cm-variable-2 {
    color: #afc;
}

.cm-s-js64 .cm-variable-3 {
    color: #b7d;
}

.cm-s-js64 .cm-type {
    color: #4bd;
    font-weight: bold;
}

.cm-s-js64 .cm-atom {
    color: #da0;
    font-weight: bold;
}

.cm-s-js64 .cm-number {
    color: #FF93a0;
}

.cm-s-js64 .cm-string {
    color: #b3E98D;
}

.cm-s-js64 .cm-comment {
    color: #667766;
    font-style: italic;
}

.cm-s-js64 .cm-todo {
    padding-inline: 3px;
    color: #fe0;
    border-radius: 2px;
}

.cm-s-js64 .cm-debug {
    padding-inline: 3px;
    color: #08f;
    border-radius: 2px;
}
