* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #222;
}

header {
    display: flex;
    flex-direction: row;
    height: 40px;
    background: #252525;
}

header .option {
    height: 100%;
    padding: 10px;
    background: transparent;
    color: #eee;
}

header .option:hover {
    background: #aaa2;
}

header div.option {
    position: relative;
}

header div.option::after {
    content: '...'; 
}

header div.option div {
    display: none;
}

header div.option:hover div {
    width: 200px;
    display: block;
    position: absolute;
    top: 120%;
    padding: 10px;
    background: #333;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #0005;
    z-index: 1;
}

header div.option:hover div button {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: #eee;
}

header div.option:hover div button:hover {
    background: #3d3d3d;
}

header div.option:hover div button + button {
    margin-top: 10px;
}

#info {
  display: flex;
  padding-inline: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 20px;
  color: #aaa;
  background: #1e1e1e;
}

main {
    flex: 1;
    flex-direction: row;
    justify-self: stretch;
    display: flex;
}

aside {
    width: 0px;
    height: calc(100vh - 40px - 20px);
    min-width: 15px;
    max-width: 80%;
    padding-right: 10px;
    overflow: hidden;
    background: #222;
    position: relative;
    box-sizing: border-box;
}

aside .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #333;
}

aside .resizer::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
	transform: translate(50%, -50%);
    width: 6px;
    height: 10px;
    background: #999;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

aside .resizer.active  {
    background: #393939;
}

aside .resizer.active::after  {
    background: #ddd;
}

aside > ul {
    width: 100%;
    height: 100%;
    padding: 4px;
    list-style: none;
    overflow: scroll;
}

aside .file {
    padding: 5px;
    border-left: 2px dashed #aaa;
}

aside .file span::before {
  content: '📄 ';
}

aside .file .md::before {
  content: '📰 ';
}

aside .file .directory::before {
  content: '📂 ';
}

aside .file .js::before {
  content: '📑 ';
}

aside .file .png::before,
aside .file .jpg::before {
  content: '️🖼️ ';
}

aside .file .txt::before {
  content: '📝 ';
}

aside .file .cfg::before {
  content: '⚙️ ';
}

aside .file .scn::before {
  content: '🎬 ';
}

aside .file .obj::before {
  content: '📦 ';
}

aside .file span {
  color: #aaa;
}

aside .file .directory {
  color: #afa;
}

aside .file .directory.fold {
  color: #ddd;
}

aside .file span.fold + ul {
  display: none;
}

aside .file .children {
    list-style: none;
	padding-left: 10px;
}

.CodeMirror {
    flex: 1;
    height: calc(100vh - 40px - 20px);
}

.CodeMirror * {
    font-family: monospace;
}
